.auth_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 20%;
}

.auth_header button {
   height: 130px;
}

.auth_wrapper {
  padding: 30px;
  height: 90%;
}

.auth_content {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.auth_submit_button {
  width: 60vw;
  height: 7.5vw;
  max-width: 1000px;
}

.auth_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.auth_footer {
  display: flex;
  justify-content: flex-end;
}
