<<<<<<< HEAD
.input_box {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 5vw;
  margin: 10px 0;
}

.input_text {
  display: flex;
  align-items: center;
  width: 16vw;
  border: 5px solid var(--black);
  border-right: none;
  background: var(--green-yellow);
}

=======
>>>>>>> fc795ee1c35b0f3cf382b85c23383a27919025f7
.input_value {
  display: flex;
  height: 100%;
  outline: none;
  width: 42vw;
  border: 5px solid var(--black);
  background: var(--salad);
  font-size: 4vw;
}

.span_text {
  font-size: 2.1vw;
  margin-left: 5px;
}

