.login_block {
  padding: 30px;
  height: 90%;
}

.login_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 20%;
}

.login_footer {
  display: flex;
  justify-content: flex-end;
  height: 20%;
}

.join_button {
  width: 60vw;
  max-width: 900px;
}

.main_auth_content{
  padding-top: 40px;
	display: flex;
	flex-direction: column;
	height: 60%;
}

.auth_header_button {
  display: flex;
  align-items: center;
  max-width: 500px;
  height: 200px;
}