.button {
  font-family: Cranberry Cyr;
  font-size: 4vw;
  font-style: normal;
  line-height: normal;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  border: 5px solid #000;
  border-radius: 17px;
}

.primary {
  color: var(--black);
  background-color: var(--primary-green);
}

.primary:hover {
  background-color: var(--primary-green-hover);
}

.primary_disable {
  color: var(--black);
  background-color: var(--primary-green);
}

.menu {
  background: var(--gradient-menu);
}

.menu:hover {
  color: var(--black);
  background-color: var(--primary);
}