html,
body {
  margin: 0;
  background: var(--gradient);
  border: 10px solid var(--yellow);
  font-family: "Cranberry Cyr", sans-serif;
}

:root {
  --black: #000000;
  --primary-green: #b9d370;
  --primary-green-hover: #98ad5d;
  --green-yellow: #ecee77;
  --salad: #cfd262;
  --gray: #d9d9d9;
  --gradient: linear-gradient(
    180deg,
    #268a30 0%,
    rgba(160, 224, 166, 0.51) 48.96%,
    rgba(1, 19, 3, 0.68) 100%
  );
  --yellow: #faff00;
  --dark-green: #3b701b;
  --bright-green: #74cf3c;
  --light-green: #85ba65;
  --red: #f00;
  --shiny-bright-green: #0f0;
  --gradient-menu: linear-gradient(
    180deg,
    rgba(120, 170, 119, 0) 0%,
    #58db56 100%
  );
}